<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-10">
            <div class="col-sm-12">
                <div class="d-flex">
                    <div class="col-lg-2">
                        <h1 class="m-0 text-dark">Units</h1>
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a routerLink="/home/units">Home</a></li>
                            <li class="breadcrumb-item active">Units</li>
                        </ol>
                    </div>
                    <ul style="flex-grow: 1;"></ul>
                    <select class="form-control mr-1" [(ngModel)]="selectedFilter">
                        <option *ngFor="let filter of filters" [value]="filter">
                            {{ filter }}
                        </option>
                    </select>
                    <select class="form-control ml-1" [(ngModel)]="selectedSort">
                        <option *ngFor="let sort of sorts" [value]="sort">
                            {{ sort }}
                        </option>
                    </select>
                </div>

                <div class="grid mt-5">
                    <app-unit-card [offering]="offering" *ngFor="let offering of offerings"></app-unit-card>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>