.content-header {
    padding: 15px .5rem;
}

.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.content-header .breadcrumb {
    background: 0 0;
    line-height: 1.8rem;
    margin-bottom: 0;
    padding: 0;
}

.form-control {
    width: 15rem;
    color: #6c757d;
    background-color: transparent;
    border: 0;
}

.content-header .form-control {
    align-self: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}