<img class="img-circle img-sm" src="assets/img/user1-128x128.jpg" alt="User Image">
<div class="comment-text">
    <span class="username">
        {{ comment.username }}
        <span class="text-muted float-right">{{ comment.datetime  }}</span>
    </span><!-- /.username -->
    {{ comment.commentText }}
</div><!-- /.comment-text -->
<div class="like-dislike-box">
    <i class="far fa-thumbs-up vote like"
       (click)="upvote()"
       [ngClass]="{'active' : userVote > 0 }"></i>

    <i class="far fa-thumbs-down vote dislike"
       (click)="downvote()"
       [ngClass]="{'active' : userVote < 0 }"></i>

    <span class="vote-count">{{ comment.vote }}</span>
</div>