.content-header {
    padding: 15px .5rem;
}

.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.content-header .breadcrumb {
    background: 0 0;
    line-height: 1.8rem;
    margin-bottom: 0;
    padding: 0;
}

.nav-pills .nav-link {
    color: #6c757d;
}
