<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-10">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="m-0 text-dark">{{ unitCode }}</h1>
                    </div>
                </div><!-- /.row -->
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-11">
                        <h4 class="text-muted">Synopsis</h4>
                        <p class="md-1" style="color:dimgray;">{{ unitSynopsis }}</p>
                    </div>
                </div><!-- /.row -->
                <div class="d-flex mt-2 justify-content-center">
                    <ul style="flex-grow: 3;"></ul>
                    <select class="selectpicker m-2" [(ngModel)]="selectedCategory">
                        <option *ngFor="let category of categories" [value]="selectedCategory">
                            {{ category }}
                        </option>
                    </select>
                    <select class="selectpicker m-2" [(ngModel)]="selectedSort">
                        <option *ngFor="let sort of sorts" [value]="selectedSort">
                            {{ sort }}
                        </option>
                    </select>
                    <ul style="flex-grow: 1;"></ul>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-8 offset-md-2 offset-xs-0">
                        <app-review-box></app-review-box>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <button class="mdc-fab app-fab--absolute" [routerLink]="['/home/units/', unitCode, 'add-review']">
            <div class="mdc-fab__ripple"></div>
            <span class="mdc-fab__icon material-icons">add</span>
        </button>
    </div><!-- /.container-fluid -->
</div><!-- /.content-header -->