<!-- Main Sidebar Container -->
<aside class="sidebar-container sidebar-dark elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" routerLink="/home">
        <img src="assets/img/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="font-weight-light"><span style="font-weight: bold">U</span>REVIEW</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-header">NAVIGATION</li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/home/units">
                        <i class="fas fa-atom"></i>
                        <p>Units</p>
                    </a>
                </li>

                <li class="nav-item flex-column fixed-bottom" >
                    <a class="nav-link" style="cursor: pointer;" (click)="signOut()">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Signout</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>