<!-- Review Box -->
<div class="card card-widget">
    <div class="card-header" (click)="toggleCollapse()">
        <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image">
            <span class="username">Anonymous</span>
            <span class="description mt-1">
                <i class="icon ion-ios-star"></i>
                <i class="icon ion-ios-star"></i>
                <i class="icon ion-ios-star"></i>
                <i class="icon ion-ios-star"></i>
                <i class="icon ion-ios-star"></i>
            </span>
            <span class="description mt-1">Fri at 6.00pm</span>
        </div><!-- /.user-block -->
        <span class="badge badge-pill badge-info">Assignment 1</span>
    </div><!-- /.card-header -->
    
    <div class="card-body" [ngClass]="{ 'collapse': isCollapsed }">
        <div class="votebox float-left mr-3">
            <span class="vote up material-icons"
                    (click)="upvote()"
                    [ngClass]="{'active' : userVote > 0 }">
                keyboard_arrow_up
            </span>
            <span class="vote-count">{{vote}}</span>
            <span class="vote down material-icons"
                    (click)="downvote()"
                    [ngClass]="{'active' : userVote < 0 }">
                keyboard_arrow_down
            </span>
        </div>
        <p class="review-text">Review text goes here</p>
        <span class="float-right text-muted">2 comments</span>
    </div><!-- /.card-body -->
    
    <div class="card-footer card-comments" [ngClass]="{ 'collapse': isCollapsed }">
        <!-- Populate with comments -->
        <div class="card-comment" *ngFor="let comment of comments">
            <app-comment-card [comment]="comment"></app-comment-card>
        </div>
    </div>

    <!-- /.card-footer -->
    <div class="card-footer" [ngClass]="{ 'collapse': isCollapsed }">
        <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user1-128x128.jpg" alt="Alt Text">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
                <input type="text" class="form-control form-control-sm" onkeypress=noEnter(event) placeholder="Press submit to post comment!">
                <button type="button" class="btn btn-default float-right" style="margin-top: 5px">Submit</button>
            </div>
        </form>
    </div><!-- /.card-footer -->
</div><!-- /.card -->