.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

.card-header {
    cursor: pointer;
}

.user-block {
    float: left;
}

.user-block img {
    float: left;
    height: 40px;
    width: 40px;
}

.img-circle {
    border-radius: 50%;
}

.user-block .username {
    font-size: 16px;
    font-weight: 600;
    margin-top: -1px;
}

.user-block .comment, .user-block .description, .user-block .username {
    display: block;
    margin-left: 50px;
}

.user-block .description {
    color: #6c757d;
    font-size: 13px;
    margin-top: -3px;
}

.user-block .description .icon.ion-ios-star {
    color: #f70;
    margin-left: 1px;
    margin-right: 1px;
}

.card-header > .badge {
    float: right;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}

.collapse {
    height: 0;
}

.card-comments {
    background: #f8f9fa;
}

.img-sm {
    height: 1.875rem;
    width: 1.875rem;
    float: left;
}

.img-sm+.img-push {
    margin-left: 2.5rem;
}

.card-comments .card-comment:first-of-type {
    padding-top: 0;
}

.card-comments .card-comment:last-of-type {
    border-bottom: 0;
}

.card-comments .card-comment {
    border-bottom: 1px solid #e9ecef;
    padding: 8px 0;
}

.votebox {
    height: fit-content;
    width: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
}
  
.votebox .vote {
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    color: lightgray;
}

.votebox .vote-count {
    font-size: 24px;
}

.votebox .vote:hover {
    color: darkgray;
}

.votebox .active.up {
    color: turquoise;
}

.votebox .active.down {
    color: red;
}

.review-text {
    min-height: 60px;
    padding-left: 48px;     /* The width of votebox */
}